*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    color: #ffff;
    margin: 0;
    font-family: -apple-system, "Druk", "Roboto", "Geneva", "Verdana", "Arial", "Helvetica", "BlinkMacSystemFont", "Segoe UI", sans-serif;
}
.title {
    display: block;
    text-transform: uppercase;
}
.margin-0 {
    margin: 0;
}
.link {
    font-family: "NeueMachina", sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
}
.footer_link {
    display: inline-block;
    position: relative;
}
.footer_link::before {
    content: "";
    position: absolute;
    width: 0;
    opacity: 0;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.footer_link:focus {
    outline: none;
}
.footer_link:focus::before {
    width: 100%;
    opacity: 1;
}
.wrapper {
    overflow: hidden;
    position: relative;
    z-index: 10;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.wrapper::after,
.wrapper::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    right: 0;
    left: 0;
}
.wrapper::before {
    height: 300px;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(20%, rgba(0, 0, 0, 0.83)), to(rgba(0, 0, 0, 0)));
    background-image: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.83) 20%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.83) 20%, rgba(0, 0, 0, 0) 100%);
}
.wrapper::after {
    height: 147px;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0)));
    background-image: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.container {
    max-width: 1366px;
    margin: 0 auto;
}

/* Main */

.main {
    min-height: 100vh;
    padding-top: 25px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.main::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 464px;
    height: 204px;
    top: 0;
    left: 360px;
    background-image: url(../img/decorate/circles.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header_logo_container {
    align-self: start;
    grid-column: 1/4;
    grid-row: 1/2;
}
.cup_container {
    align-self: start;
    justify-self: end;
    grid-column: 4/7;
    grid-row: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.cup_text_container {
    max-width: 250px;
    font-family: "NeueMachina", sans-serif;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.cup_img {
    margin-right: 12px;
}
.header_logo_container .logo {
    margin-top: 20px;
}
.cup_title {
    font-size: 21.2px;
    line-height: 23px;
    font-weight: 800;
    margin-bottom: 5px;
}
.cup_sub_title {
    opacity: 0.4;
    font-size: 8.2px;
    line-height: 7px;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.main_bonus_container {
    grid-column: 1/4;
    grid-row: 1/5;
    align-self: center;
}
.main_container {
    position: relative;
    z-index: -1;
    grid-column: 3/7;
    grid-row: 1/6;
}
.main::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 140px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../img/decorate/shadow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
.main_img {
    position: absolute;
    top: 5px;
    left: 18%;
    min-width: 460px;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    z-index: 2;
}
.main_text {
    position: absolute;
    left: 130px;
    top: 64%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    text-shadow: 0 0 55px rgba(0, 0, 0, 0.49);
    font-size: 49px;
    line-height: 52.84px;
    font-weight: 900;
    font-style: italic;
    letter-spacing: -0.25px;
    color: #ffffff;
}
.best_front-end1 {
    z-index: 1;
}
.best_front-end2 {
    z-index: 3;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.main_text span:last-child {
    display: block;
    padding-left: 45px;
}
.main_bonus_title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    font-style: italic;
}
.main_bonus_title_like_container {
    position: relative;
}
.img_like {
    height: 80px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
    z-index: -1;
}
.img_like:nth-child(2) {
    left: 44px;
}
.main_bonus_title_like {
    position: relative;
    padding-left: 100px;
    font-size: 97px;
    line-height: 1.2;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 7px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f8ff13;
    color: #f8ff13;
}
.main_bonus_title_like::before {
    content: "Лайки";
    position: absolute;
    left: 90px;
    top: 0;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    z-index: -1;
}
.castle {
    position: absolute;
    z-index: -1;
    right: -10%;
    bottom: 0;
    min-width: 752px;
    min-height: 670px;
    background-image: url(../img/castle.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* btn */
.main_btn_container {
    position: relative;
    display: inline-block;
    margin-top: 36px;
    margin-bottom: 42px;
}
.btn {
    border: none;
    font-size: 26.4px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    color: #000000;
    min-width: 462px;
    padding: 26px;
    position: relative;
    -webkit-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
    z-index: 2;
    background-color: #f8ff13;
    -webkit-box-shadow: 0px 0px 35px 8px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 35px 8px rgba(0, 0, 0, 0.36);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}
.btn:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 35px 8px rgba(0, 0, 0, 0.36), 0 0 0 1px rgb(255 255 255), 0 0 0 1px rgb(255 255 255);
    box-shadow: 0px 0px 35px 8px rgba(0, 0, 0, 0.36), 0 0 0 1px rgb(255 255 255), 0 0 0 1px rgb(255 255 255);
}
.btn:hover,
.btn:focus {
    -webkit-transform: skewX(-10deg) translateY(10px) translateX(10px);
    -ms-transform: skewX(-10deg) translateY(10px) translateX(10px);
    transform: skewX(-10deg) translateY(10px) translateX(10px);
    background-color: #fff;
}
.btn:hover + .btn_decorate,
.btn:focus + .btn_decorate {
    opacity: 0;
}
.btn_decorate {
    display: block;
    position: absolute;
    -webkit-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
    right: -8px;
    bottom: -13px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.22);
    border: 1px solid #ffffff;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* terms_conditions */

.terms_conditions_container {
    max-width: 480px;
    text-align: center;
}
.terms_conditions {
    font-family: "NeueMachina", sans-serif;
    font-size: 13.4px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
}
.terms_conditions:focus {
    outline: none;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 5px 7px 0px rgba(255, 255, 255, 0.3);
}

/* footer */
.footer {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    grid-row: 5/6;
    grid-column: 1/7;
}
.footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer_link {
    margin-right: 28px;
    vertical-align: middle;
}
.footer_link:last-child {
    margin-right: 0;
}
.link_18 {
    width: 23px;
    height: 23px;
    text-align: center;
    border: 2px solid #ff0000;
    background-color: #ffff;
    border-radius: 50%;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 21px;
}
/* Levitating Balls */

.levitating_balls {
    position: absolute;
    z-index: 20;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}
.levitating_balls1 {
    width: 78px;
    height: 78px;
    left: 410px;
    bottom: 76px;
}
.levitating_balls2 {
    width: 109px;
    height: 109px;
    right: 135px;
    bottom: 40px;
}
.levitating_balls3 {
    width: 209px;
    height: 209px;
    top: 30%;
    right: 3%;
}
.levitating_balls img {
    width: 100%;
    height: auto;
}

/* Media Query */
@media (min-width: 1400px) {
    .header_logo_container .logo {
        margin-top: 24px;
        margin-left: 5px;
    }
    .cup_container {
        padding: 5px;
        text-align: right;
    }
    .cup_img {
        margin-right: 0;
    }
    .levitating_balls3 {
        top: 25%;
        right: 10%;
    }
    .levitating_balls2 {
        right: 100px;
    }
    .levitating_balls1 {
        left: 430px;
    }
    .main_bonus_container {
        margin-top: 88px;
        margin-left: 8px;
    }
    .img_like {
        left: -8px;
    }
    .img_like:nth-child(2) {
        left: 32px;
    }
    .main_bonus_title_like::before {
        left: 78px;
    }
    .main_bonus_title_like {
        letter-spacing: -4px;
        padding-left: 92px;
    }
    .terms_conditions_container {
        max-width: 460px;
    }
    .main_img {
        left: 7%;
    }
    .main_text {
        left: 154px;
        top: 69%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media (max-width: 1399px) {
    .img_like {
	height: 70px;
        transform: translateY(-43%);
    }
    .img_like:nth-child(2) {
    	left: 37px;
    }
    .main_bonus_title_like {
	padding-left: 90px;
        font-size: 82px;
    }
    .container {
        max-width: 95%;
    }
    .main_text {
        left: 220px;
        font-size: 35px;
    }	
    .main_bonus_title_like::before {
	left: 80px;
    }
}
@media (max-width: 1100px) {
    .img_like {
	height: 60px;
    }
    .img_like:nth-child(2) {
        left: 32px;
    }
    .main_bonus_title {
        font-size: 40px;
    }
    .main_bonus_title_like {
        font-size: 70px;
        padding-left: 75px;
    }
    .img_like:nth-child(2) {
        left: 30px;
    }
    .main_bonus_title_like::before {
        left: 66px;
    }
    .btn {
        min-width: 430px;
        max-width: 100%;
    }
    .terms_conditions_container {
        max-width: 430px;
    }
    .levitating_balls3 {
        top: 35%;
        right: 0;
    }
    .levitating_balls3 {
        width: 150px;
    }
    .levitating_balls1 {
        left: 30%;
    }
    .main_text span:nth-child(2) {
        display: block;
        padding-left: 30px;
    }
    .main_text span:last-child {
        padding-left: 68px;
    }
}
@media (max-width: 900px) {
    .link_18 {
        width: 27px;
        height: 27px;
        border: 2px solid #ffffff;
        background-color: transparent;
        color: #fff;
    }
    .levitating_balls1 {
        top: 45%;
        left: 10%;
    }
    .levitating_balls2 {
        left: 20%;
        bottom: 30%;
    }
    .levitating_balls3 {
        top: 20%;
        right: 10%;
    }
    .wrapper {
        background-image: url(../img/bg_320.jpg);
    }
    .main {
        min-height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .header_logo_container {
        grid-column: 1;
        justify-self: center;
    }
    .cup_container {
        grid-column: 1;
        justify-self: center;
        grid-row: 6/7;
    }
    .main_bonus_container {
        grid-row: 4/6;
    }
    .main_container {
        margin-top: 115px;
        grid-column: 1;
        grid-row: 1/4;
    }
    .main::after {
        height: 648px;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(6%, #000000), color-stop(13%, #000000), to(rgba(0, 0, 0, 0)));
        background-image: -o-linear-gradient(bottom, #000000 6%, #000000 13%, rgba(0, 0, 0, 0) 100%);
        background-image: linear-gradient(to top, #000000 6%, #000000 13%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.8;
    }
    .footer {
        grid-row: 6/7;
    }
    .main_img {
        min-width: 400px;
        width: auto;
        height: auto;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        grid-row: 1/4;
        grid-column: 1;
        left: 50%;
        top: 0;
    }
    .castle {
        min-height: 595px;
        background-image: url(../img/castle_320.png);
        left: 50%;
        top: 15%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        grid-column: 1;
        grid-row: 1/4;
        background-size: contain;
    }
    .wrapper::before {
        height: 494px;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(16%, #000000), color-stop(42%, rgba(0, 0, 0, 0.69)), to(rgba(0, 0, 0, 0)));
        background-image: -o-linear-gradient(top, #000000 16%, rgba(0, 0, 0, 0.69) 42%, rgba(0, 0, 0, 0) 100%);
        background-image: linear-gradient(to bottom, #000000 16%, rgba(0, 0, 0, 0.69) 42%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.7;
    }
    .wrapper::after {
        height: 648px;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(6%, #000000), color-stop(13%, #000000), to(rgba(0, 0, 0, 0)));
        background-image: -o-linear-gradient(bottom, #000000 6%, #000000 13%, rgba(0, 0, 0, 0) 100%);
        background-image: linear-gradient(to top, #000000 6%, #000000 13%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.8;
    }
    .main_text {
        width: 100%;
        left: 50%;
        -webkit-transform: translate(-25%, -35%);
        -ms-transform: translate(-25%, -35%);
        transform: translate(-25%, -35%);
    }
    .main::before {
        background-image: url(../img/decorate/circle_320.png);
        width: 170px;
        height: 170px;
        left: 30%;
        top: 50%;
    }
    .main_bonus_container {
        justify-self: center;
    }
    .main_bonus_title {
        font-size: 30px;
    }
    .main_bonus_title_right {
        text-align: right;
    }
    .cup_container {
        margin-top: 45px;
        margin-bottom: 45px;
    }
}
@media (max-width: 600px) {
    .img_like {
    	height: 42px;
    }
    .img_like:nth-child(2) {
	left: 19px;
    }
    .footer_social .footer_social_link {
        margin-bottom: 0;
    }
    .container {
        max-width: 100%;
    }
    .castle {
        min-width: 100%;
        min-height: auto;
        max-width: 318px;
        max-height: 360px;
        height: auto;
        left: inherit;
        top: 22%;
        right: -25px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .main_img {
        min-width: auto;
        width: 252px;
        height: auto;
    }
    .main_text {
        font-size: 31px;
        line-height: 39px;
        top: 45%;
        max-width: 305px;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .main_bonus_container {
        grid-row: 3/6;
        margin-top: 105px;
    }
    .footer {
        grid-row: 7;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 0;
    }
    .footer_child {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer_child:first-child {
        padding: 23px 0 10px 0;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }
    .footer_child:nth-child(2) {
        padding: 16px 0 20px 0;
    }
    .levitating_balls1 {
        top: 35%;
        width: 47px;
        height: 47px;
    }
    .levitating_balls2 {
        width: 34px;
        height: 33px;
        top: 53%;
        left: 32%;
    }
    .levitating_balls3 {
        width: 100px;
        height: 100px;
        top: 14%;
    }
    .main_bonus_container,
    .terms_conditions_container,
    .footer_wrapper,
    .cup_container {
        max-width: 302px;
        margin-right: auto;
        margin-left: auto;
    }
    .main_bonus_title_like {
        font-size: 50px;
        letter-spacing: normal;
        padding-left: 50px;
    }
    .main_bonus_title_like::before {
        left: 41px
    }
    .img_like:first-child {
        left: -3px;
    }
    .img_like:nth-child(2) {
        left: 17px;
    }
    .main_bonus_title {
        font-size: 24px;
    }
    .main_bonus_title_right {
        line-height: 28px;
    }
    .main_btn_container {
        margin-top: 27px;
        margin-bottom: 23px;
    }
    .btn {
        font-size: 16px;
        min-width: 292px;
        padding: 20px;
    }
    .btn_decorate {
        right: -5px;
        bottom: -8px;
    }
    .cup_container {
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .footer_link {
        display: inline-block;
        margin-bottom: 7px;
    }
    .cup_title {
        font-size: 18px;
    }
    .cup_sub_title {
        font-size: 7px;
        letter-spacing: 0.36px;
    }
    .cup_img {
        margin-right: 9px;
    }
    .footer_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .main::before {
        top: 37%;
    }
}
@media (min-width: 320px) and (max-width: 425px) {
    .main_img {
        left: -25px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .levitating_balls1 {
        top: 36%;
        left: 0;
    }
    .main::before {
        left: -3%;
        top: 36%;
    }
    .cup_text_container {
        max-width: 215px;
    }
    .header_logo_container .logo {
        margin-top: 17px;
        margin-left: 4px;
        width: 202px;
        height: auto;
    }
    .main_container {
        margin-top: 93px;
    }
    .main_text {
        top: 52%;
        line-height: 34px;
    }
    .levitating_balls3 {
        top: 13%;
        right: 6%;
    }
    .main_bonus_container {
        margin-top: 142px;
    }
    .main_bonus_title {
        padding-left: 12px;
    }
    .main_bonus_title {
        line-height: 44px;
    }
    .main_bonus_title_right {
        line-height: 31px;
    }
    .main_bonus_title_like {
        line-height: inherit;
    }
    .levitating_balls2 {
        top: 53%;
        left: 16%;
    }
}
